body{
    margin: 0;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100vh;
    grid-template-areas: "allC form";
}
#allCont{
    grid-area: allC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border-right: 1px black solid;
}
#form{
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.divs{
    border: black dotted 1px;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
}   
h1,h2,h3{
    margin: 10px;
}